

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



/* 255,255,255 is white - if after a professional colour adjust from here */

body{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}


.topnav {
    overflow: hidden;
    background-color: #B7B6B6;
    width: 100%;
    position: fixed;
    float: left;
    top: 0px;
    left: 0;
    /* THis ensures that this is infront of other items */
    z-index: 1;
     }


.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 20px 0px;
text-decoration: none;
font-size: 20px;
cursor: pointer;
width: 20%;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
opacity: 100%;

}

.topnav a:hover {
background-color: lightgray;
color: black;
}

.topnav a.active {
background-color:  RGB(120,200,200);
color: white;
}

h1{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    color: RGB(120,200,200);
    text-decoration-line: underline;

}
/* Choose the appearance of the tags, h1, h3 and p: */

h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h4{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: -20px;
}

    
/*Border radius is the rounding of the edges */
.myWeek1{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0cm;
    border-right: 0cm;
    border-style: solid;
    border-color: (rgb(100,100,100)) ;
}

.myWeek2{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 0cm;
    border-right: 0cm;
    border-style: dashed;
    border-color: (rgb(100,100,100)) ;
}

.myheader{
    margin: auto;
    max-width: 100%;
    text-align: center;
    background-color: RGB(120,200,200); 
    padding: 0px; 
    padding-bottom: 10px;
    border-width: 0px;
    border-style: solid;
    border-radius: 0px;
    border-color: black;
    padding-top: -100;
}

#textH {
    position: left;
    overflow-y: hidden;
    height: 220px;
  }

/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:400px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: RGB(120,200,200);
    margin-bottom: 1cm;
    padding-left: 0.1cm;
    opacity: 80%;


}

.chart1{
    background-color: white;
    width:400px;
    height: 430px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: RGB(120,200,200);
    margin-bottom: 1cm;
    padding-left: 0.1cm;
    opacity: 80%;


}
    

/* Set the apperance for a particular chart */
#Chart2{
    border-color: RGB(120,200,200); 
    margin-bottom: 0.5cm;
    height: 600 px;
    opacity: 80%;
    border-width: 3px;


}

/* Set the apperance for a particular chart */
#Chart5{
    width: 700px;
    height:500px;
    border-color: RGB(0,200,200); 
    margin-bottom: 0.5cm;
    opacity: 80%;
    border-width: 3px;


}

.chartw3{
    background-color: white;
    width: auto;  
    height: auto; 
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: RGB(120,200,200);
    margin-bottom: 0.5cm;
    opacity: 80%;

   

}

.chartw3a{
    background-color: white;
    width: auto;  
    height: auto; 
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: RGB(120,200,200);
    margin-bottom: 0.5cm;
    opacity: 80%;

   

}

.chartw3b{
    background-color: white;
    width: auto;  
    height: auto; 
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    margin-bottom: 0.5cm;
    opacity: 80%;

   

}
.chartw5{
    width: 200px;
    height:200px;
    border-color: RGB(120,200,200); 
    margin-bottom: 0.5cm;
    opacity: 80%;
    border-width: 3px;
    opacity: 80%;


}

.png{
    background-color: white;
    width:500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: RGB(120,200,200);
    margin-bottom: 1cm;
    padding: 5px;
    opacity: 80%;
}  

.pnga{
    background-color: white;
    width:500px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    margin-bottom: 1cm;
    padding: 5px;
    opacity: 80%;
}  

.pnglrg{
    background-color: white;
    width: 450px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    margin-bottom: 1cm;
    padding: 5px;
    opacity: 80%;
}  


/* Containers can center text and graphs into the page*/
.container {
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-content: center;
  }


#text {
    position: static;
    top: 80px;
    right: 100px;
    bottom: 50px;
    left: 50px;
    padding: 0px;
    overflow-y: hidden;
    box-sizing: border-box;
  }

#text2 {
    position: static;
    top: 80px;
    right: 50px;
    bottom: 50px;
    left: 100px;
    padding: 0px;
    overflow-y: hidden;
    box-sizing: border-box;
  }